.usuarios{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.receta-boton {
    margin-right: 15%;
}

.inventario{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.inventario-margen {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}